body {
	font-family: 'Montserrat', sans-serif;
}


/* Nav bar */

.container {
	margin: 5px 19px 0px 19px;
}

.Navbar {
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
}

ul.menu {
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo a:hover {
	text-decoration: none;
}

.menu li {
	font-size: 16px;
	padding: 15px 0px;
	white-space: nowrap;
}

.logo a,
.toggle a {
	font-size: 20px;
}


/* Mobile menu */

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	order: 1;
}

.item.button {
	order: 2;
}

.item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}

.item.active {
	display: block;
}


/* Holding Container */

.holdingcontainer {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.internalcontainerL {
	flex: 1;
	padding: 20px 20px 0px 0px;
}

.internalcontainerR {
	flex: 1;
}

@media screen and (max-width:700px) {
	.holdingcontainer {
		flex-direction: column;
	}
	.internalcontainerL {
		text-align: center;
	}
	div#int_div1 p {
		font-size: 15px;
	}
	div#int_div2 p {
		font-size: 36px;
	}
	button.containerL_button {
		margin-bottom: 55px;
	}
	ul.unordered-buttons {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	p.p1 {
		text-align: center;
	}
	p.p2 {
		text-align: center;
	}
	.section1 {
		padding-top: 0px;
	}
	.section2 {
		flex-direction: column;
	}
	.menu li {
		padding: 0px;
	}
	.item {
		margin: 15px;
	}
	.section4 {
		flex-direction: column;
	}
	.section5 {
		flex-direction: column;
		padding: 0px;
	}
	.footer0 {
		flex-direction: column;
		padding: 0px;
	}
}


/* Tablet menu */

@media all and (min-width: 600px) {
	.logo {
		flex: 1;
	}
	.toggle {
		flex: 1;
		text-align: right;
	}
	.item.button {
		width: auto;
		order: 1;
	}
	.section0-left button {
		order: 2;
		display: block;
	}
	.toggle {
		order: 2;
	}
	.button a {
		padding: 7.5px 15px;
		background: linear-gradient(0.25turn, #F07229, #F2752D, #F2762E, #F47A33, #F57E37, #F6813A, #F7843D, #F8863F, #FA8A43, #FB8E47, #FC924B, #FE9650, #FF9953);
		color: white;
		border: none;
		border-radius: 95px;
		width: 150px;
		height: 35px;
		cursor: pointer;
		font-size: medium;
	}
	.button a:hover {
		text-decoration: none;
	}
}

@media screen and(min-width:600px) and (max-width:900px) {
	.item button {
		display: none;
	}
}


/* Desktop menu */

@media all and (min-width: 900px) {
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	.logo {
		order: 0;
	}
	.item {
		order: 1;
	}
	.button {
		order: 2;
	}
	.menu li {
		padding: 15px 0px;
	}
	.menu li.button {
		padding-right: 0;
	}
	li.item {
		padding: 0px 160px 0px 0px;
	}
}


/* Section1-2 wrapper */

.section-1-2-wrapper {
	background-image: url('../images/Group 1.jpg');
	background-repeat: no-repeat;
	background-position: -148px 77px;
	margin-bottom: 100px;
}

.section1 {
	padding-top: 260px;
	text-align: center;
}

.list-buttons {
	float: left;
	width: 100%;
}

ul.unordered-buttons {
	list-style: none;
}

.button1,
.button2,
.button3,
.button4,
.button5 {
	float: left;
	width: 19%;
	text-align: center;
	height: 200px;
}

.button1 img {
	padding-top: 27px;
}

.button2 img {
	padding-top: 27px;
}

.button3 img {
	padding-top: 27px;
}

.button4 img {
	padding-top: 27px;
}

.button5 img {
	padding-top: 27px;
}

h4 {
	font-weight: 500;
}

.button1 p {
	font-weight: 300;
	font-size: 12px;
}

.button2 p {
	font-weight: 300;
	font-size: 12px;
}

.button3 p {
	font-weight: 300;
	font-size: 12px;
}

.button4 p {
	font-weight: 300;
	font-size: 12px;
}

.button5 p {
	font-weight: 300;
	font-size: 12px;
}

.button1:hover {
	box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #F07229;
}

.button2:hover {
	box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #F07229;
}

.button3:hover {
	box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #F07229;
}

.button4:hover {
	box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #F07229;
}

.button5:hover {
	box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 3px solid #F07229;
}

.section-1-2-wrapper {
	width: 100%;
	float: left;
}

.section2 {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.section2-left {
	flex: 1;
	padding: 20px;
}

.section2-right {
	flex: 1;
	padding: 20px;
}

p.p1 {
	font-size: 32px;
}

p.p2 {
	font-size: 16px;
	font-weight: 300;
	line-height: 55px;
	width: 100%;
}

.section3 {
	width: 100%;
	display: flex;
	margin-bottom: 100px;
	box-sizing: border-box;
	background: #F7F7F7;
}

.section3_internal {
	flex: 1;
	padding: 20px 0px;
}

.section3_images {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: center;
}

.item1 {
	margin: 35px;
}


/* Section4 */

.section4 {
	max-width: 100%;
	display: flex;
	background-image: url('../images/quote.jpg');
	background-repeat: no-repeat;
	padding: 50px;
	margin-bottom: 100px;
	box-sizing: border-box;
	flex-direction: row;
}

.section4_inner {
	flex: 1;
	text-align: center;
	font-size: 12px;
	font-family: inherit;
	margin: 3px;
}

#myProgress {
	width: 298px;
	background-color: #F5F5F5;
	border-radius: 38px;
	margin: 0 auto;
}

#myBar {
	width: 14%;
	height: 8px;
	background: linear-gradient(0.25turn, #F07229, #F2752D, #F2762E, #F47A33, #F57E37, #F6813A, #F7843D, #F8863F, #FA8A43, #FB8E47, #FC924B, #FE9650, #FF9953);
	border-radius: 30px;
}

.sec4_p1 {
	font-size: 32px;
	margin: 0;
	padding-bottom: 20px;
}

.sec4_p2 {
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 10px;
}

p.sec4_p3 {
	font-size: 17px;
	padding-bottom: 10px;
}

.sec4_p5 {
	font-size: 18px;
	font-weight: 700;
}

.sec4_p4 {
	font-size: 18px;
	font-weight: 700;
}

@media screen and (max-width:350px) {
	#myProgress {
		width: 100%;
	}
	.section-1-2-wrapper {
		background-image: url('../images/Group 1.jpg');
		background-repeat: no-repeat;
		background-position: -251px 0px;
		margin-bottom: 100px;
	}
}

.section5 {
	max-width: 100%;
	display: flex;
	padding: 20px 50px 20px 50px;
	box-sizing: border-box;
	flex-direction: row;
	background-color: #F07229;
	text-align: center;
}

.section5_inner {
	flex: 1;
	padding: 30px;
	font-size: 12px;
	font-family: inherit;
	margin: 3px;
}

.section5_head {
	color: white;
	text-align: center;
	font-size: 32px;
}

.section5_inner>button {
	background: white;
	color: #F07229;
	border: none;
	border-radius: 95px;
	width: 150px;
	height: 35px;
	font-size: medium;
}


/* Footer */

.footer {
	background: #131F6B;
	padding: 50px 50px 20px 50px;
	color: #FDFDFE;
}

.footer0 {
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    /* flex-direction: row; */
    margin-left: 30px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.footerL {
    flex: 1;
    padding: 30px 30px 30px 0px;
    font-size: 12px;
    margin: 3px;
}

.footerM {
	flex: 1;
	padding: 30px;
	font-size: 12px;
	margin: 3px;
}

.footerR {
	flex: 1;
	padding: 30px;
	font-size: 12px;
	margin: 3px;
}

.footerL>p {
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
}

.footer0-2-head {
	font-weight: 700;
	font-size: 18px;
}

.footer0-2-li {
	font-size: 12px;
	font-weight: 400;
}

.footer1 {
	font-size: 10px;
	font-weight: 400;
	padding-left: 35px;
}

button.i-1 {
	border-radius: 100%;
	width: 31px;
	border: none;
	height: 29px;
	font-size: 19px;
}


@media screen and (max-width:700px){
	.button1, .button2, .button3, .button4, .button5 {
		float: left;
		width: 100%;
		text-align: center;
		height: 200px;
		margin: 0 auto;
		margin-left: -19px;
	}
}

@media screen and (max-width:700px){
.footerR {
    padding: 0px;
}
.footerM{
	padding:0px;
}
}